.footer{

    background:#050b16;

    color:white;

    padding:70px 8% 30px;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:60px;

}

.footer-about h2{

    color:#00d4ff;

    margin-bottom:20px;

}

.footer-about p{

    color:#94a3b8;

    line-height:1.8;

}

.footer-links{

    display:flex;

    flex-direction:column;

}

.footer-links h3{

    margin-bottom:20px;

}

.footer-links a{

    color:#94a3b8;

    text-decoration:none;

    margin-bottom:12px;

    transition:.3s;

}

.footer-links a:hover{

    color:#00d4ff;

}

.footer-social h3{

    margin-bottom:20px;

}

.social-icons{

    display:flex;

    gap:18px;

}

.social-icons a{

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#111c2e;

    color:white;

    font-size:18px;

    transition:.3s;

}

.social-icons a:hover{

    background:#00d4ff;

    color:#08111f;

}

.footer hr{

    margin:50px 0 25px;

    border:none;

    border-top:1px solid rgba(255,255,255,.08);

}

.copyright{

    text-align:center;

    color:#94a3b8;



}

/* ================= */
/* Mobile Responsive */
/* ================= */

@media(max-width:768px){


.footer{

    padding:50px 20px;

    text-align:center;

}


/* main layout */

.footer-container{

    display:grid !important;

    grid-template-columns:1fr !important;

    gap:40px;

}


/* about */

.footer-about{

    width:100%;

}


.footer-about h2{

    font-size:28px;

}


.footer-about p{

    max-width:320px;

    margin:20px auto;

    line-height:1.7;

}


/* links */

.footer-links{

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:15px;

}


.footer-links h3,
.footer-social h3{

    font-size:22px;

}


/* icons */

.social-icons{

    display:flex;

    justify-content:center;

    gap:20px;

}


.social-icons a{

    width:45px;

    height:45px;

}


/* bottom */

.copyright{

    margin-top:25px;

    font-size:14px;

}

}